.video-contaier {
  display: flex;
  justify-content: space-around;
  margin-top: 115px;
  position: sticky;
  top: 115px;
  height: 1000px;
}

.video {
  width: 923px;
  height: 521px;
  border-radius: 5px;
}

.video-playlist-container {
  border: 1px solid #eee;
  height: 600px;
  overflow: scroll;
  margin-bottom: 30px;
}

.video-playlist-container::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.video-playlist-container::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: transparent;
  padding: 20px;
}


@media all and (max-width: 1200px) {
  .video-contaier {
    display: block;
    height: auto;
  }

  .video-playlist-container {
    margin-top: 30px;
    width: 95%;
    overflow: none;
    height: 130vh;
  }
}
